BasedOnStyle: WebKit
# AlignAfterOpenBracket: BlockIndent (Requires clang-format 14)
ColumnLimit: 0
CompactNamespaces: true
IncludeBlocks: Preserve
IndentWidth: 4
NamespaceIndentation: None
SpaceBeforeCpp11BracedList: false