[submodule "third_party/grpc"]
	path = third_party/grpc
	url = git@github.com:grpc/grpc.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = git@github.com:google/googletest.git
[submodule "third_party/json"]
	path = third_party/json
	url = git@github.com:nlohmann/json.git
[submodule "third_party/cpp-jwt"]
	path = third_party/cpp-jwt
	url = git@github.com:arun11299/cpp-jwt.git
[submodule "third_party/mongo-cxx-driver"]
	path = third_party/mongo-cxx-driver
	url = git@github.com:mongodb/mongo-cxx-driver.git
[submodule "third_party/mongo-c-driver"]
	path = third_party/mongo-c-driver
	url = git@github.com:mongodb/mongo-c-driver.git
[submodule "third_party/postgres-cxx-client"]
	path = third_party/postgres-cxx-client
	url = git@github.com:anatoliifrolov/postgres-cxx-client.git
